<a href="https://colab.research.google.com/github/aeyage/CPC251-MachineLearning/blob/main/Lab1_Intro_to_NumPy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating Arrays** - First we need to import NumPy library. To create an array is to use the array function.

In [2]:
import numpy as np

In [3]:
data1 = [2, 5, 4, 8, 0, 1]
arr1 = np.array(data1)

In [4]:
arr1

array([2, 5, 4, 8, 0, 1])

We can create an array using **arange**. It is a NumPy function that generates 
values within half-open interval **[start, stop)**. By default, the step size is 1. 
Here, we generate a sequence of values from 0 to 19.

In [5]:
arr1 = np.arange(0,20)

In [6]:
arr1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

We can specify a different step size as follows.

In [7]:
arr1 = np.arange(0,2,0.1)

In [8]:
arr1

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9])

There are other functions for creating new arrays. zeros and ones create arrays of 0s and 1s
respectively. Here, we use zeros to create an array with length of 10.

In [9]:
arr1 = np.zeros(10)

In [10]:
arr1

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

Here, we use **ones** to create a two dimensional array by passing a tuple as the size of the array.

In [11]:
arr1 = np.ones((3,4))

In [12]:
arr1

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])